# ignore files
TestResults
*.vsmdi
*.testsettings
*.suo
*.zip
*.bak
*.dll
bin
obj
*.dll
*.*~
src/Infinispan.HotRod/generated
.vs/
buildtools/tmp
buildtools/.fake
swig/hotrodcs_wrap.cxx
swig/hotrodcs_wrap.h