# ignore files
TestResults
*.vsmdi
*.testsettings
*.suo
*.zip
*.bak
*.dll
bin
obj
*.dll
*.*~
src/Infinispan.HotRod/generated
test/Infinispan.HotRod.Tests/generated/
.vs/
buildtools/tmp
buildtools/.fake
swig/build
swig/hotrodcs_wrap.dir
swig/include
swig/native_client
swig/hotrodcs_wrap.cxx
swig/hotrodcs_wrap.h
