<?xml version="1.0" encoding="utf-8"?>
<!--Infinspan .Net Client Configuration-->
<configuration>
  <appSettings>
    <add key="serverIP" value="127.0.0.1" />
    <add key="serverPort" value="11222" />
    <add key="cacheName" value="default" />
    <add key="defaultForceReturnValue" value="false" />
  </appSettings>
 </configuration>