<?xml version="1.0" encoding="utf-8" ?>

<!--Infinspan .Net Client Configuration-->

<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Infinispan.DotnetClient.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>

    <add key="serverIP" value="127.0.0.1"/>
    <add key="serverPort" value="11222"/>
    <add key="cacheName" value="default"/>
    <add key="topologyID" value="0"/>
    <add key="forceReturnValue" value="false"/>
      
  </appSettings>

  
          
    
  <userSettings>
    <Infinispan.DotnetClient.Config>
      <setting name="Test" serializeAs="String">
        <value>TestValue</value>
      </setting>
    </Infinispan.DotnetClient.Config>
  </userSettings>
</configuration>
  
